
<div *ngIf="channels.length">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Receive</th>
        <th scope="col">Transmit</th>
        <th scope="col">Power</th>
        <th scope="col">Scan</th>
        <th scope="col">TOT</th>
        <th scope="col">RO</th>
        <th scope="col">Admit</th>
        <th scope="col">Color</th>
        <th scope="col">Slot</th>
        <th scope="col">RxGL</th>
        <th scope="col">TxContact</th>
        <th scope="col">comment</th>
      </tr>
    </thead>
    <tbody *ngFor="let channel of channels">
      <tr>
        <th scope="row">{{ channel.id }}</th>
        <td>{{ channel.Name }}</td>
        <td>{{ channel.Receive }}</td>
        <td>{{ channel.Transmit }}</td>
        <td>{{ channel.Power }}</td>
        <td>{{ channel.Scan }}</td>
        <td>{{ channel.TOT }}</td>
        <td>{{ channel.RO }}</td>
        <td>{{ channel.Admit }}</td>
        <td>{{ channel.Color }}</td>
        <td>{{ channel.Slot }}</td>
        <td>{{ channel.RxGL }}</td>
        <td>{{ channel.TxContact }}</td>
        <td>{{ channel.comment }}</td>
      </tr>
    </tbody>
  </table>
</div>
