<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="/">DMRConfig Web</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarFileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">File</a>
      <div class="dropdown-menu" aria-labelledby="navbarFileDropdown">
        <a class="dropdown-item" routerLink="/fileloader" routerLinkActive="active">Load</a>
        <a class="dropdown-item" routerLink="/filesaver" routerLinkActive="active">Save</a>
      </div>
    </li>
    <li class="nav-item"><a class="nav-link" routerLink="/digitalchannels" routerLinkActive="active">Digital Channels</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/analogchannels" routerLinkActive="active">Analog Channels</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/zones" routerLinkActive="active">Zones</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/scanlists" routerLinkActive="active">Scan Lists</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/contacts" routerLinkActive="active">Contacts</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/grouplists" routerLinkActive="active">Group Lists</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a></li>
  </ul>
</nav>

<main class="container" role="main">
  <router-outlet></router-outlet>
</main>
